.App {
    text-align: center;
}

.board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    max-width: 325px;
    margin: auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}